* {
  background-color: white;
  color: black;
}
@media print {
  #portrait_image {
    display: none;
  }
}
@page {
  margin: 25mm 16.5mm 16.5mm 16.5mm;
}
h5,
.h5 {
  display: none;
}
body::-ms-ticks-before {
  content: "https://patimejia.com/print_resume.html";
  display: block;
  text-align: center;
}
body {
  margin: 0px;
  padding: 0px;
}
p,
smaller_p,
li,
td,
th,
h1,
h2,
h3,
.title_text,
.makes_rows_container,
.bullet_points_container,
.smaller_bulletpoints_container,
.about,
.inside_the_cooksroom {
  page-break-inside: avoid;
}

.page_break_after {
  page-break-after: always;
}

.page_break_before {
  page-break-before: always;
}
